@model MensFashionStore.Models.Clothing

<h2>Viewing: @Model.Name</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Category:</label> @Model.Category</h5>
            <h5>Infomation:</h5>
            <div>
                <ul>
                    @foreach (var infomation in Model.Infomation)
                    {
                        <li>@infomation</li>
                    }
                </ul>

            </div>
            <button type="button" class="btn btn-info">
                @Model.Price &euro;
            </button>
        </div>
        <h5>Description</h5>
        <p>@Html.Raw(Model.DescriptionHtml)</p>
    </div>
    <div class="col-md-6">
        <img src="/Images/@Model.CoverImageFileName"
             alt="@Model.Name" class="img-responsive" />
    </div>
</div>